@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Get to know Joel</h1>
    <p>Joel is the coolest guy you'll meet</p>
    <br />
    <img src="~/img/joelhiltonheadshot.jpg" />
    <br />
    <br />
    <p>Check him out:</p>
    <p>Performance Location: <a href="https://www.qwcomedy.com/">QW Comedy</a></p>
    <p>Podcast: <a href="https://baconsale.com/">Baconsale</a></p>
    <br />
    <a href="https://baconsale.com/" >
        <img src="~/img/baconsalekate.jpg" width="500" height="350" />
    </a>
    <br />
</div>