@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Come add a movie to the collection!</p>
    <br />
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<div class="text-center">
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>